<section>
    <h1 id="title">OLÁ VISITANTE!</h1>

    <div class="formulario">
        <form action="">
            
            <!-- <input [(ngModel)]="cadastro.email" name="email" type="email" class="form-control" id="email" placeholder="Digite seu e-mail"> -->
            
            <input type="password" placeholder="Digite sua senha" maxlength="35">
            <input type="password" placeholder="Digite sua senha" maxlength="35">
            <button class="btn-login" routerLink="/area-logado">FAZER LOGIN</button>
        </form>
    </div>

    <div class="div-botoes">
    <button class="btn-register" routerLink="/register">ME REGISTRAR</button>
    </div>

</section>